@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* Ensure no unwanted background or padding on the html and body */
html, body {
    margin: 0;
    padding: 0;
    background: none; /* Remove default background color */
    height: 100%; /* Ensure the body takes up the full height of the viewport */
    overflow-x: hidden; /* Prevent horizontal scrolling if needed */
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient( to bottom, transparent, rgb(var(--background-end-rgb)) ), url('/marsimage.jpg'); 
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating */
}

/* Remove any margins or padding from the main container */
main {
    margin: 0;
    padding: 0;
    background: none; /* Ensure no background color is applied */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
